---
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=/links/" />
    <link rel="canonical" href="https://matthaynes.fun/links/" />
    <title>Redirecting to Matt Haynes Links</title>
  </head>
  <body>
    <a href="/links/">Continue to links</a>
  </body>
</html>

